/* header */
header {
	position: relative;
	margin-bottom: 20px;
}

figure img {
	width: 100%;
}
figcaption {
	text-align: right;
	font-size: 13px;
	font-style: italic;
}

.logo img {
	width: 15%;
	margin: auto;
	display: block;
}